<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Your Own Watermark</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% block css %}

    {% endblock css %}

</head>

<body >
    <nav class="navbar bg-dark navbar-expand-sm sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">watermark.me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link
                        {% if home %}
                            active
                        
                        {% endif %} 
                         
                         " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                        {% if api %}
                            active
                        {% endif %} 
                        " href="{% url 'api' %}">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                        {% if  history %}
                        active
                    {% endif %} 
                        " href="{% url 'history' %}">History</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'sign_out' %}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link
                        {% if  sign_in %}
                        active
                    {% endif %} 
                        " href="{% url 'sign_in' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                        {% if  sign_up %}
                        active
                    
                    {% endif %} 
                        " href="{% url 'sign_up' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="float-right">

                    <div class="form-check form-switch ">


                        <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked"
                             onclick="myFunction()" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey"
                            class="bi bi-moon-stars " viewBox="0 0 16 16">
                            <path
                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                            <path
                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                        </svg>
                    </div>

                </div>
            </div>
        </div>

    </nav>
    <div>
        {% if messages %}


        {% for message in messages %}

        <div {% if message.tags %} class="{{ message.tags }} alert alert-dismissible fade show" {% endif %}
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}

        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>
        var flexSwitchCheckChecked= document.getElementById('flexSwitchCheckChecked');
        var theme = localStorage.getItem('theme');
        var element =document.body;
        if (theme == null){
            
            element.dataset.bsTheme = 'dark';
            localStorage.setItem('theme', 'dark');
            
        }
        else{
            element.dataset.bsTheme = theme;
        }
        if(theme=='dark'){

            flexSwitchCheckChecked.checked = true;
        }
        function myFunction() {

            theme = element.dataset.bsTheme;

            theme = theme == "light" ? "dark" : "light";
            element.dataset.bsTheme = theme
            localStorage.setItem('theme', theme);
            console.log(theme);
        }



    </script>
    <main>
        {% block body %}

        {% endblock body %}
    </main>
    {% block script %}

    {% endblock script %}
</body>

</html>